body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient( to bottom, rgba(128, 0, 128, 0.448), rgba(0, 255, 255, 0.552));
    margin: 0px;
}
a{
    text-decoration: none;
}
.big_head{
         text-align: center;
         background-color: rgb(72, 6, 75);
         margin: 0 auto;
         padding-top: 10px;
         padding-bottom: 0px;
         font-size: 40px;
         color: white;        
         display: block;
         height: 70px;   
}
.h_2nd{
    background-color: rgb(0, 132, 240);
    height: 45px;
    text-align: center;
    color: black;
    border-top:8px solid white;
    border-bottom:8px solid white;
    padding-top: 10px;
    padding-bottom:0px;
}
.h_2nd_p{
    font-size: 30px;
    background-color: white;
    width: 200px;
    margin: 0 auto;
} 
ul{
    color:  rgb(72, 6, 75);
}  
.li{
    color: black;
}
.mid{
    text-align: center;
    top: 0%;
    font-size: 30px;
    margin: 0 auto;
}
.mid_out{
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    width: 140px;
}
.mid_in{
    background-color: black;
    color: white;
    border-radius: 50px;
}
.img1{
    float: left;
    padding-left: 30px;
    padding-top: 35px;
    margin-right: 10px;
}
.square{
    font-size: 30px;
    padding-top: 50px;
    display: inline-block;
    width: 200px;
}
.img2{
    display: inline;
    float: right;
    padding-right: 30px;
    margin: 10px;
}
button{
    width: 100%;
    border: 0px;
}
.description{
    background-color: white;
    text-align: justify;
    padding: 50px;
    margin: 20px;
}
.descrip_head{
    font-size: larger;
    font-weight: bold;
    color:  rgb(72, 6, 75);
}
.descrip_bold{
    font-size: large;
    color: rgb(72, 6, 75);
}
footer{
    background-color:  rgb(72, 6, 75);
    color: white;
    height: 60px;
    padding-top: 20px;
}