body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.big_head{
         text-align: center;
         background-color: rgb(72, 6, 75);
         margin: 0;
         padding-top: 10px;
         padding-bottom: 0px;
         font-size: 40px;
         color: white;        
         display: block;
         height: 70px;
}
